
<div class='container'>
  <div class="row">
    <div class="col-xs-4 left-content">
    <% if logged_in? %>
      <p>
        <%= link_to "@"+current_user.name, current_user %>
      </p>
      <p>
        <%= current_user.prof %>
      </p>
    <% end %>
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <%= f.submit "つぶやく", class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-xs-8 right-content">
      <div class="navbar">
        <ul class="nav nav-tabs nav-justified">
          <% if logged_in? %>
              <li>
                <div class='text'>
                  ツイート
                </div>
                <div class="num">
                  <%= link_to current_user.tweets.count, user_path(current_user) %>
                </div>
              </li>
              <li>
                <div class="text">
                フォロー
                </div>
                <div class="num">
                  <%= link_to current_user.follows.count, follows_user_path(current_user) %>
                </div>
              </li>
              <li>
                <div class="text">
                フォロワー
                </div>
                <div class="num">
                  <%= link_to current_user.followers.count, followers_user_path(current_user) %>
                </div>
              </li>
              <li>
                <div class="text">
                いいね
                </div>
                <div class="num">
                  <%= link_to current_user.favorites.count, favorites_user_path(current_user) %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
      <%= render "tweets/tweet" %>
    </div>
  </div>
</div>